/* #region footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
/* #endregion */

/* #region modal */
.modal-header {
    display: flex;
    text-align: center;
}

    .modal-header .close {
        color: white;
        opacity: 1;
        display: flex;
        padding-top: 5px;
    }

h3#modal-header-label {
    flex: 1;
    text-transform: uppercase;
}

    h3#modal-header-label span {
        color: white;
    }
/* #endregion modal */

/* #region panel */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05)
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

    .panel-heading > .dropdown .dropdown-toggle {
        color: inherit
    }

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

    .panel-title > a {
        color: inherit
    }

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel > .list-group, .panel > .panel-collapse > .list-group {
    margin-bottom: 0
}

    .panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item {
        border-width: 1px 0;
        border-radius: 0
    }

    .panel > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
        border-top: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px
    }

    .panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
        border-bottom: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px
    }

.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0
}

.list-group + .panel-footer {
    border-top-width: 0
}

.panel > .table, .panel > .table-responsive > .table, .panel > .panel-collapse > .table {
    margin-bottom: 0
}

    .panel > .table caption, .panel > .table-responsive > .table caption, .panel > .panel-collapse > .table caption {
        padding-right: 15px;
        padding-left: 15px
    }

    .panel > .table:first-child, .panel > .table-responsive:first-child > .table:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px
    }

        .panel > .table:first-child > thead:first-child > tr:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px
        }

            .panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
                border-top-left-radius: 3px
            }

            .panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
                border-top-right-radius: 3px
            }

    .panel > .table:last-child, .panel > .table-responsive:last-child > .table:last-child {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px
    }

        .panel > .table:last-child > tbody:last-child > tr:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px
        }

            .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
                border-bottom-left-radius: 3px
            }

            .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
                border-bottom-right-radius: 3px
            }

    .panel > .panel-body + .table, .panel > .panel-body + .table-responsive, .panel > .table + .panel-body, .panel > .table-responsive + .panel-body {
        border-top: 1px solid #ddd
    }

    .panel > .table > tbody:first-child > tr:first-child th, .panel > .table > tbody:first-child > tr:first-child td {
        border-top: 0
    }

.panel > .table-bordered, .panel > .table-responsive > .table-bordered {
    border: 0
}

    .panel > .table-bordered > thead > tr > th:first-child, .panel > .table-responsive > .table-bordered > thead > tr > th:first-child, .panel > .table-bordered > tbody > tr > th:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child, .panel > .table-bordered > tfoot > tr > th:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child, .panel > .table-bordered > thead > tr > td:first-child, .panel > .table-responsive > .table-bordered > thead > tr > td:first-child, .panel > .table-bordered > tbody > tr > td:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child, .panel > .table-bordered > tfoot > tr > td:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0
    }

    .panel > .table-bordered > thead > tr > th:last-child, .panel > .table-responsive > .table-bordered > thead > tr > th:last-child, .panel > .table-bordered > tbody > tr > th:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, .panel > .table-bordered > tfoot > tr > th:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, .panel > .table-bordered > thead > tr > td:last-child, .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, .panel > .table-bordered > tbody > tr > td:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, .panel > .table-bordered > tfoot > tr > td:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0
    }

    .panel > .table-bordered > thead > tr:first-child > td, .panel > .table-responsive > .table-bordered > thead > tr:first-child > td, .panel > .table-bordered > tbody > tr:first-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td, .panel > .table-bordered > thead > tr:first-child > th, .panel > .table-responsive > .table-bordered > thead > tr:first-child > th, .panel > .table-bordered > tbody > tr:first-child > th, .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
        border-bottom: 0
    }

    .panel > .table-bordered > tbody > tr:last-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td, .panel > .table-bordered > tfoot > tr:last-child > td, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td, .panel > .table-bordered > tbody > tr:last-child > th, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th, .panel > .table-bordered > tfoot > tr:last-child > th, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
        border-bottom: 0
    }

.panel > .table-responsive {
    margin-bottom: 0;
    border: 0
}

.panel-group {
    margin-bottom: 20px
}

    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 4px
    }

        .panel-group .panel + .panel {
            margin-top: 5px
        }

    .panel-group .panel-heading {
        border-bottom: 0
    }

        .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
            border-top: 1px solid #ddd
        }

    .panel-group .panel-footer {
        border-top: 0
    }

        .panel-group .panel-footer + .panel-collapse .panel-body {
            border-bottom: 1px solid #ddd
        }

.panel-default {
    border-color: #ddd
}

    .panel-default > .panel-heading {
        color: #FFFFFF;
        background-color: #6C2BB5;
        border-color: #6C2BB5;
    }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #ddd
        }

        .panel-default > .panel-heading .badge {
            color: #f5f5f5;
            background-color: #333
        }

    .panel-default > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #ddd
    }

.panel-primary {
    border-color: #428bca
}

    .panel-primary > .panel-heading {
        color: #fff;
        background-color: #428bca;
        border-color: #428bca
    }

        .panel-primary > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #428bca
        }

        .panel-primary > .panel-heading .badge {
            color: #428bca;
            background-color: #fff
        }

    .panel-primary > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #428bca
    }

.panel-success {
    border-color: #d6e9c6
}

    .panel-success > .panel-heading {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6
    }

        .panel-success > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #d6e9c6
        }

        .panel-success > .panel-heading .badge {
            color: #dff0d8;
            background-color: #3c763d
        }

    .panel-success > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #d6e9c6
    }

.panel-info {
    border-color: #bce8f1
}

    .panel-info > .panel-heading {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1
    }

        .panel-info > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #bce8f1
        }

        .panel-info > .panel-heading .badge {
            color: #d9edf7;
            background-color: #31708f
        }

    .panel-info > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #bce8f1
    }

.panel-warning {
    border-color: #faebcc
}

    .panel-warning > .panel-heading {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc
    }

        .panel-warning > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #faebcc
        }

        .panel-warning > .panel-heading .badge {
            color: #fcf8e3;
            background-color: #8a6d3b
        }

    .panel-warning > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #faebcc
    }

.panel-danger {
    border-color: #ebccd1
}

    .panel-danger > .panel-heading {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1
    }

        .panel-danger > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #ebccd1
        }

        .panel-danger > .panel-heading .badge {
            color: #f2dede;
            background-color: #a94442
        }

    .panel-danger > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #ebccd1
    }
/* #endregion panel */

/* #region margin */
.marginbot-0 {
    margin-bottom: 0 !important;
}

.marginbot-10 {
    margin-bottom: 10px !important;
}

.marginbot-20 {
    margin-bottom: 20px !important;
}

.marginbot-30 {
    margin-bottom: 30px !important;
}

.marginbot-40 {
    margin-bottom: 40px !important;
}

.marginbot-50 {
    margin-bottom: 50px !important;
}

.marginbot-60 {
    margin-bottom: 60px !important;
}

.marginbot-70 {
    margin-bottom: 70px !important;
}

.marginbot-80 {
    margin-bottom: 80px !important;
}

.marginbot-90 {
    margin-bottom: 90px !important;
}

.marginbot-100 {
    margin-bottom: 100px !important;
}

.margintop-0 {
    margin-top: 0 !important;
}

.margintop-10 {
    margin-top: 10px !important;
}

.margintop-20 {
    margin-top: 20px !important;
}

.margintop-30 {
    margin-top: 30px !important;
}

.margintop-40 {
    margin-top: 40px !important;
}

.margintop-45 {
    margin-top: 45px !important;
}

.margintop-50 {
    margin-top: 50px !important;
}

.margintop-60 {
    margin-top: 60px !important;
}

.margintop-70 {
    margin-top: 70px !important;
}

.margintop-80 {
    margin-top: 80px !important;
}

.margintop-90 {
    margin-top: 90px !important;
}

.margintop-100 {
    margin-top: 100px !important;
}
/* #endregion margin */

/* #region padding */
.paddingtop-0 {
    padding-top: 0 !important;
}

.paddingtop-10 {
    padding-top: 10px !important;
}

.paddingtop-20 {
    padding-top: 20px !important;
}

.paddingtop-30 {
    padding-top: 30px !important;
}

.paddingtop-40 {
    padding-top: 40px !important;
}

.paddingtop-50 {
    padding-top: 50px !important;
}

.paddingtop-60 {
    padding-top: 60px !important;
}

.paddingtop-70 {
    padding-top: 70px !important;
}

.paddingtop-80 {
    padding-top: 80px !important;
}

.paddingtop-90 {
    padding-top: 90px !important;
}

.paddingtop-100 {
    padding-top: 100px !important;
}

.paddingbot-0 {
    padding-bottom: 0 !important;
}

.paddingbot-10 {
    padding-bottom: 10px !important;
}

.paddingbot-20 {
    padding-bottom: 20px !important;
}

.paddingbot-30 {
    padding-bottom: 30px !important;
}

.paddingbot-40 {
    padding-bottom: 40px !important;
}

.paddingbot-50 {
    padding-bottom: 50px !important;
}

.paddingbot-60 {
    padding-bottom: 60px !important;
}

.paddingbot-70 {
    padding-bottom: 70px !important;
}

.paddingbot-80 {
    padding-bottom: 80px !important;
}

.paddingbot-90 {
    padding-bottom: 90px !important;
}

.paddingbot-100 {
    padding-bottom: 100px !important;
}
/* #endregion padding*/

/* #region bot blinking */
.text-danger-glow {
    color: #ff4141;
}

.text-success-glow {
    color: #54b948;
}

.blink {
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/* #endregion bot blinking */

/* #region float center */

.float_center {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}

    .float_center > .child {
        position: relative;
        left: 50%;
    }

/* #endregion float center*/

/* #region navbar*/
.navbar {
    padding: 0px;
    --bs-bg-opacity: 1;
}
/* #endregion navbar*/

/* #region page-content */
.page-content {
    padding: 0% 5% 0% 5%;
}
/* #endregion page-content */

/* #region form */
form {
    /*	color: #6C2BB5 !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    box-shadow: 20px 20px 50px grey;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
/* #endregion form */